.done{
  text-decoration: line-through;
}

.data{
  background-color: #fff;
  box-shadow: 2px 2px 2px black;
  border-color: black;
  width: 50em;
  text-align: center;
  margin: auto;
  margin-top: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  font-family: monospace;
}

button{
  margin-top: 2em;
  padding: 1em;
  border-radius: 3px;
  box-shadow: 2px 2px 2px black;
  border-color: black;
  background-color: #ffb380;
  font-weight: bold;
}

body{
  background-color: #454f5b;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.main-banner{
  display: table;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  background-image: url(../assets/lights.jpg);
  background-position: center -25em;

  width: 100%;
  height: 25em;
  text-align: center;

  box-shadow: 0px 3px 5px black;
}

.subtitle{
  margin: 0;
  font-size: 0.3em;
  color: #ffb380;
  letter-spacing: 0.05em;
}

.banner-text{
  letter-spacing: 0.04em;
  color: #fff0e6;
  font-weight: bold;
  font-size: 8em;
  padding-top: 0.4em;
  padding-left: 0.2em;
  line-height: 0.5em;
}
